*{
    margin:0;
    padding:0;
    text-align: center;
}

.container{
    padding:4 2 4 2px;
    border: 2px solid blue;
    padding-left: 2rem;
    padding-right:2rem;
    display: inline-block;
    font-size: 2rem ;
    text-align:center;
}

.button{
    background-color:yellow ;
    color: red;
    padding: 15px 32px ;
    margin-top:3rem ;
    text-align: center;
    font-size:2rem;

}